.container {
    width: 100vw;
    height: 80vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.body{
    background-color: #6C7A89;
}
.title{
    text-align: center;
}